<!-- Top header start -->
<header class="top-header th-2 top-header-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-7">
                <div class="list-inline">
                    <a href="{% url 'contact' %}"><i class="fa fa-phone"></i>(954) 846-8666</a>
                    <a href="{% url 'contact' %}"><i class="fa fa-envelope"></i>info@themevessel.com</a>
                    <a href="{% url 'contact' %}"><i class="fa fa-fa-location"></i>10412 W State Rd 84 #104, Davie, FL 33324</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5">
                <ul class="top-social-media pull-right">
                    
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- Top header end -->