
{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>About Us</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">About Us</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Service center strat -->
<div class="about-car content-area-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="about-car-photo">
                    <div id="carDetailsSlider" class="carousel car-details-sliders slide">
                        <!-- main slider carousel items -->
                        <div class="carousel-inner">
                            <div class="active item carousel-item" data-slide-number="0">
                                <img src="{% static 'img/banner2.jpeg' %}" class="img-fluid" alt="slider-car">
                            </div>
                            <div class="item carousel-item" data-slide-number="1">
                                <img src="{% static 'img/fitness/galery_fitness/fit-10.jpeg' %}" class="img-fluid" alt="slider-car">
                            </div>
                            <div class="item carousel-item" data-slide-number="2">
                                <img src="{% static 'img/fitness/galery_fitness/fit-11.jpeg' %}" class="img-fluid" alt="slider-car">
                            </div>
                        </div>
                        <!-- main slider carousel nav controls -->
                        <ul class="carousel-indicators car-properties list-inline nav nav-justified">
                            <li class="list-inline-item active">
                                <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#carDetailsSlider">
                                    <img src="{% static 'img/banner2.jpeg' %}" class="img-fluid" alt="small-car">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="carousel-selector-1" data-slide-to="1" data-target="#carDetailsSlider">
                                    <img src="{% static 'img/fitness/galery_fitness/fit-10.jpeg' %}" class="img-fluid" alt="small-car">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="carousel-selector-2" data-slide-to="2" data-target="#carDetailsSlider">
                                    <img src="{% static 'img/fitness/galery_fitness/fit-11.jpeg' %}" class="img-fluid" alt="small-car">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 align-self-center">
                <div class="best-used-car">
                    <h3>Fitness with <span>Playgroundbroward</span></h3>
                    <p>Playgroundbroward Fitness has the most diverse class schedule and classes scheduled 7 days a week! Choose classes that fit your taste, style and fitness goals. Our coaches keep you engaged and energized the whole time!</p>
                    <p class="mb-0"><b>Exercise types: Dance, Boxing, Cardio, Cross Training, Flexibility.</b><br><br>Our Fitness Center has different programms and services: Weight Loss, Personal Training, Group Fitness Classes, Sport Specific, Kids Fitness Programs and other.<br><br>

                        <b>If you have any questions about Group Programs, Individual Programs and Membership, contact us.</b></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="featured-car content-area">
    <div class="container">
        <div class="main-title">
            <h1>CALL US NOW <span>(954) 846-8666</span></h1>
            <p>Our experts will make you the best offer.</p>
        </div>
    </div>
</div>
<!-- Service center end -->


<!-- Our team start -->
<div class="our-team content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Explore our <span>Services</span></h1>
            <p>Contact us today (954) 846-8666 and our experts will make you the best offer</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 4, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                
                {% for team in teams %}
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="photo">
                            <a href="{{ team.photo.url }}">
                                <img src="{{ team.photo.url }}" alt="team-1" class="img-fluid">
                            </a>
                            
                        </div>
                        <div class="details">
                            <h4><a href="{% url 'contact' %}">{{team.first_name}}</a></h4>
                            <!-- <h5>Creative Director</h5> -->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Our team end -->

{% endblock %}

