
{% extends 'base.html' %} 

{% block content %}

{% load static %}

<!-- Banner start -->
<div class="banner" id="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner banner-slider-inner text-center">
            <div class="carousel-item banner-max-height active item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/banner.jpg' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>Playgroundbroward Fitness</h3>
                    <h5>Our Fitness Center have everything you need to help you to achieve<br>
                        your fitness goals!.</h5>
                    <a href="{% url 'services' %}" class="btn btn-lg btn-theme">Learn more</a>
                </div>
            </div>
            <div class="carousel-item banner-max-height item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/feature-background.jpg' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>Fitness Personal Training</h3>
                    <h5>We help you build a safe and efficient workout plan<br>
                        to suit your fitness level and goals.</h5>
                    <a href="{% url 'services' %}" class="btn btn-lg btn-theme">Learn more</a>
                </div>
            </div>
            
        <!-- Search box 3 start -->
     
        <!-- Search box 3 end -->
        <a class="carousel-control-prev none-580" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="slider-mover-left" aria-hidden="true">
                <i class="fa fa-angle-left"></i>
            </span>
        </a>
        <a class="carousel-control-next none-580" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="slider-mover-right" aria-hidden="true">
                <i class="fa fa-angle-right"></i>
            </span>
        </a>
    </div>
</div>
<!-- Banner end -->

<!-- Service center strat -->
<div class="about-car content-area-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="about-car-photo">
                    <div id="carDetailsSlider" class="carousel car-details-sliders slide">
                        <!-- main slider carousel items -->
                        <div class="carousel-inner">
                            <div class="active item carousel-item" data-slide-number="0">
                                <img src="{% static 'img/banner2.jpeg' %}" class="img-fluid" alt="slider-car">
                            </div>
                            <div class="item carousel-item" data-slide-number="1">
                                <img src="{% static 'img/fitness/galery_fitness/fit-10.jpeg' %}" class="img-fluid" alt="slider-car">
                            </div>
                            <div class="item carousel-item" data-slide-number="2">
                                <img src="{% static 'img/fitness/galery_fitness/fit-11.jpeg' %}" class="img-fluid" alt="slider-car">
                            </div>
                        </div>
                        <!-- main slider carousel nav controls -->
                        <ul class="carousel-indicators car-properties list-inline nav nav-justified">
                            <li class="list-inline-item active">
                                <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#carDetailsSlider">
                                    <img src="{% static 'img/banner2.jpeg' %}" class="img-fluid" alt="small-car">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="carousel-selector-1" data-slide-to="1" data-target="#carDetailsSlider">
                                    <img src="{% static 'img/fitness/galery_fitness/fit-10.jpeg' %}" class="img-fluid" alt="small-car">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="carousel-selector-2" data-slide-to="2" data-target="#carDetailsSlider">
                                    <img src="{% static 'img/fitness/galery_fitness/fit-11.jpeg' %}" class="img-fluid" alt="small-car">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 align-self-center">
                <div class="best-used-car">
                    <h3>Welcome to <span>Playgroundbroward</span></h3>
                    <p>Playgroundbroward Fitness has the most diverse class schedule and classes scheduled 7 days a week! Choose classes that fit your taste, style and fitness goals. Our coaches keep you engaged and energized the whole time!</p>
                    <p class="mb-0"> Our Fitness Center has different programms and services: Weight Loss, Personal Training, Group Fitness Classes, Sport Specific, Kids Fitness Programs and other.</p>
                    <p>If you have any questions about Group Programs, Individual Programs and Membership, contact us (954) 846-8666.</p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service center end -->




<!-- Rent car start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Playground Broward <span>Gallery</span></h1>
            <p>So its time to get started again at the Fitness Club that has been serving our community since 2008!!</p>
        </div>
        <div class="row">
           
            <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    
                        <a href="car-details.html" class="car-img">
                       
                            <img class="d-block w-100" src="img/car/car-1.jpg" alt="gallery">
                            
                        </a>
                        <div class="carbox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                    <div class="car-magnify-gallery">
                                        <a href="{% static 'img/car/car-1.jpg' %}" class="overlap-btn">
                                            <i class="fa fa-expand"></i>
                                            <img class="hidden" src="img/car/car-1.jpg">
                                        </a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                   
                </div>
            </div>
      
        </div>
    </div>
</div>
<!-- Gallery end -->


<!-- Our Srvices start -->
<div class="our-team content-area bg-grea-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Playground Broward <span>Services</span></h1>
            <p>We have different Group and Individual Programs: Weight Loss, Group Fitness Program, Program for Kids and others.</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 4, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
            
                {% for team in teams %}
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="photo">
                            <a href="{{ team.photo.url }}">
                                <img src="{{ team.photo.url }}" alt="team-1" class="img-fluid">
                            </a>              
                        </div>
                        <div class="details">
                            <h4><a href="{% url 'services' %}">{{team.first_name}}</a></h4>
                          
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Our team end -->

<!-- Full Page Search -->
<!-- Contact 2 start -->
<div class="contact-2 content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Contact <span>Us</span></h1>
            <p>Contact us today (954) 846-8666 and our experts will make you the best offer.</p>
        </div>
        <form action="{% url 'contact' %}" method="POST" enctype="multipart/form-data">
            {% include 'includes/messages.html' %}
          
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <div class="form-group name">
                                <input type="text" name="name" class="form-control" placeholder="Full Name" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group email">
                                <input type="email" name="email" class="form-control" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group subject">
                                <input type="text" name="subject" class="form-control" placeholder="Subject" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group number">
                                <input type="text" name="phone" class="form-control" placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group message">
                                <textarea class="form-control" name="message" placeholder="Write message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="send-btn text-center">
                                <button type="submit" class="btn btn-md button-theme">Send Message</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="contact-info-2">
                        <div class="ci-box">
                            <div class="icon">
                                <i class="flaticon-phone"></i>
                            </div>
                            <div class="detail">
                                <h5>Phone:</h5>
                                <p>(954) 846-8666</p>
                            </div>
                        </div>
                        <div class="ci-box">
                            <div class="icon">
                                <i class="flaticon-mail"></i>
                            </div>
                            <div class="detail">
                                <h5>Email:</h5>
                                <p><a href="#">info@themevessel.com</a></p>
                            </div>
                        </div>
                        <div class="ci-box">
                            <div class="icon">
                                <i class="flaticon-earth"></i>
                            </div>
                            <div class="detail">
                                <h5>Address:</h5>
                                <p><a href="https://www.google.com/maps/dir/40.5852203,-73.9711226/Playground+Fitness/@33.037518,-86.8353727,5z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x88d9080fe7d1d8b7:0x8cb42c43737694de!2m2!1d-80.2885993!2d26.1041068">10412 W State Rd 84 #104, Davie, FL 33324</a></p>
                            </div>
                        </div>
                        <div class="ci-box mb-0">
                            <div class="icon">
                                <i class="flaticon-fax"></i>
                            </div>
                            <div class="detail">
                                <h5>Fax:</h5>
                                <p>(954) 846-8666</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Contact 2 end -->

<!-- Intro section start -->
<div class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="intro-text">
                    <h3>Do You Have Questions ?</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="{% url 'contact' %}" class="btn btn-md">Get in Touch</a>
            </div>
        </div>
    </div>
</div>
<!-- Intro section end -->











{% endblock %}